@page "/nesteddatagrid"

@using BookStore.BlazorUi.Models;
@using BookStore.BlazorUi.externalServices;

@inject IJSRuntime jsRuntime
@inject IRefitClient _refitClient

@if (orders != null)
{
    <PageTitle>Nested Data Grid</PageTitle>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Order Id</th>
                <th scope="col">Date Order</th>
                <th scope="col">Customer Id</th>
                <th scope="col">Shippig Methode Id</th>
                <th scope="col">Destination Address Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in orders)
            {
                <tr>
                    <td><img src="/images/plus.png" onclick="toggleElementVisibility('details-@order.OrderId')" /> @order.OrderId</td>
                    <td>@order.OrderDate?.ToString("yyyy mm dd")</td>
                    <td>@order.CustomerId</td>
                    <td>@order.ShippingMethodId</td>
                    <td>@order.DestAddressId</td>
                </tr>
                <tr style="display: none;" id=@($"details-{order.OrderId}")>
                    <td colspan="5">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Order Line Id</th>
                                    <th scope="col">Order Id</th>
                                    <th scope="col">Book Id</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            @*orderLines = @order.OrderLines.Where(o=>o.OrderId == @order.OrderId)*@
                            <tbody>
                                @foreach (var orderLine in @order.OrderLines)
                                {
                                    <tr>
                                        <td>@orderLine.LineId</td>
                                        <td>@orderLine.OrderId</td>
                                        <td>@orderLine.BookId</td>
                                        <td>@orderLine.Price</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private IEnumerable<CustOrderModel>? orders { get; set; }
    private IEnumerable<OrderLineModel>? orderLines { get; set; }

    protected override async Task OnInitializedAsync()
    {
        orders = await _refitClient.GetAllOrderAsync();

        // Load the jsShowHideDetails.js file
        await jsRuntime.InvokeVoidAsync("eval", await File.ReadAllTextAsync("./wwwroot/scripts/jsShowHideDetails.js"));    
    }    

    async Task toggleElementVisibility(ElementReference element)
    {
        await jsRuntime.InvokeVoidAsync("toggleElementVisibility", element);
    }
}